In [2]:
import pandas as pd

In [10]:
results = pd.read_csv('results_60.csv')
results

,Map,Random,MaxImmediateDistance,MCTS,QLearning,DQN
0,2024-12-06 10:31:09,-801,78.0,-760.0,-760.0,4.0
1,2024-12-06 10:29:02,-1063,48.0,48.0,48.0,-659.0
2,2024-12-06 10:35:39,-1164,-1164.0,6.0,-962.0,-1154.0
3,2024-12-06 10:36:21,48,48.0,48.0,48.0,48.0
4,2024-12-06 10:31:36,-356,48.0,-457.0,-457.0,-962.0
...,...,...,...,...,...,...
495,2024-12-06 10:32:52,-659,48.0,-457.0,-962.0,-861.0
496,2024-12-06 10:35:45,-1164,-659.0,-255.0,-659.0,-558.0
497,2024-12-06 10:29:46,-659,48.0,165.0,-1366.0,407.0
498,2024-12-06 10:35:42,-1063,48.0,-962.0,-1164.0,-457.0
499,2024-12-06 10:32:55,16,48.0,48.0,-356.0,367.0

In [11]:
# Compute average value per column except for the Map column
results[results.columns[1:]].mean()

Random                 -404.518
MaxImmediateDistance   -143.046
MCTS                    -84.934
QLearning              -432.814
DQN                    -162.422
dtype: float64

In [12]:
# Add column for difference with column 1
results['MCTS-diff-with-random'] = results['MCTS'] - results['Random']
results['QLearning-diff-with-random'] = results['QLearning'] - results['Random']
results['DQN-diff-with-random'] = results['DQN'] - results['Random']

# Add column for difference with column 2
results['MCTS-diff-with-maxdist'] = results['MCTS'] - results['MaxImmediateDistance']
results['QLearning-diff-with-maxdist'] = results['QLearning'] - results['MaxImmediateDistance']
results['DQN-diff-with-maxdist'] = results['DQN'] - results['MaxImmediateDistance']
results[results.columns[1:]].mean()

Random                        -404.518
MaxImmediateDistance          -143.046
MCTS                           -84.934
QLearning                     -432.814
DQN                           -162.422
MCTS-diff-with-random          319.584
QLearning-diff-with-random     -28.296
DQN-diff-with-random           242.096
MCTS-diff-with-maxdist          58.112
QLearning-diff-with-maxdist   -289.768
DQN-diff-with-maxdist          -19.376
dtype: float64

In [13]:
# For columns 2 to 5, compute the number of rows with value greater than the value in column 1
print('Proportion superior to Random')
for col in results.columns[2:6]:
    print(f"Column: {col}, Proportion: {(results[col] >= results['Random']).sum()/500}")

print('\nProportion superior to MaxImmediateDistance')
for col in results.columns[3:6]:
    print(f"Column: {col}, Proportion: {(results[col] >= results['MaxImmediateDistance']).sum()/500}")

Proportion superior to Random
Column: MaxImmediateDistance, Proportion: 0.826
Column: MCTS, Proportion: 0.882
Column: QLearning, Proportion: 0.6
Column: DQN, Proportion: 0.796

Proportion superior to MaxImmediateDistance
Column: MCTS, Proportion: 0.74
Column: QLearning, Proportion: 0.42
Column: DQN, Proportion: 0.644