In [2]:
import pandas as pd

In [3]:
results = pd.read_csv('results_20.csv')
results

,Map,Random,MaxImmediateDistance,MCTS,QLearning,DQN
0,2024-12-05 21:51:12,-76,-65.0,136.0,46.0,-489.0
1,2024-12-05 21:56:05,16,-590.0,-55.0,-287.0,-590.0
2,2024-12-05 22:02:26,16,16.0,16.0,16.0,16.0
3,2024-12-05 21:52:35,56,16.0,65.0,-26.0,16.0
4,2024-12-05 21:55:22,96,46.0,136.0,26.0,166.0
...,...,...,...,...,...,...
495,2024-12-05 22:01:23,86,16.0,176.0,16.0,176.0
496,2024-12-05 21:55:00,-186,16.0,16.0,16.0,116.0
497,2024-12-05 21:52:17,16,16.0,16.0,16.0,16.0
498,2024-12-05 22:01:58,36,36.0,176.0,-308.0,-85.0
499,2024-12-05 21:49:40,-691,46.0,176.0,-287.0,75.0

In [12]:
# Compute average value per column except for the Map column
results[results.columns[1:]].mean()

Random                 -113.300
MaxImmediateDistance    -39.740
MCTS                      7.774
QLearning              -166.662
DQN                     -25.530
dtype: float64

In [28]:
# Add column for difference with column 1
results['MCTS-diff-with-random'] = results['MCTS'] - results['Random']
results['QLearning-diff-with-random'] = results['QLearning'] - results['Random']
results['DQN-diff-with-random'] = results['DQN'] - results['Random']
results[results.columns[1:]].mean()

Random                       -113.300
MaxImmediateDistance          -39.740
MCTS                            7.774
QLearning                    -166.662
DQN                           -25.530
MCTS-diff-with-random         121.074
QLearning-diff-with-random    -53.362
DQN-diff-with-random           87.770
dtype: float64

In [31]:
# For columns 2 to 5, compute the number of rows with value greater than the value in column 1
print('Proportion superior to Random')
for col in results.columns[2:6]:
    print(f"Column: {col}, Proportion: {(results[col] >= results['Random']).sum()/500}")

print('\nProportion superior to MaxImmediateDistance')
for col in results.columns[3:6]:
    print(f"Column: {col}, Proportion: {(results[col] >= results['MaxImmediateDistance']).sum()/500}")

Proportion superior to Random
Column: MaxImmediateDistance, Proportion: 0.716
Column: MCTS, Proportion: 0.846
Column: QLearning, Proportion: 0.544
Column: DQN, Proportion: 0.742

Proportion superior to MaxImmediateDistance
Column: MCTS, Proportion: 0.806
Column: QLearning, Proportion: 0.568
Column: DQN, Proportion: 0.748